<!DOCTYPE html>
<html>

<head>
  <title> Matthew Alcorn | Contact Me </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="../css/site.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:300,300i" rel="stylesheet">

  <script src="../js/jquery-2.1.4.min.js"></script>
  <script src="../js/bootstrap.min.js"></script>
  <script src="../js/validator.js"></script>

  <script type="text/javascript">
    function sendForm() {

      var name = $('#name').val();
      var email = $('#email').val();
      var subject = $('#subject').val();
      var message = $('#message').val();

      $.ajax({
        url: "../php/email.php",
        type: "POST",
        data: {
          name: name,
          email: email,
          subject: subject,
          message: message
        },
        success: function() {
          $('#name').val("");
          $('#email').val("");
          $('#subject').val("");
          $('#message').val("");
          $('#send-success').show();
        },
        error: function() {
          $('#send-failure').show();
        }
      });
    }

    $(window).on('load', function() {
      $('#contact_form').validator().on('submit', function(e) {
        if (e.isDefaultPrevented()) {} else {
          sendForm();
          return false;
        }
      })
    });
  </script>

  <!-- Piwik -->
  <script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//mattalcorn.com/piwik/";
      _paq.push(['setTrackerUrl', u+'piwik.php']);
      _paq.push(['setSiteId', 1]);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <noscript><p><img src="//mattalcorn.com/piwik/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
  <!-- End Piwik Code -->

</head>

<body>

  <div class="navbar navbar-default navbar-static-top navbar-background">
    <div class="container">

      <a href="../index.html" class="navbar-brand"> Matthew Alcorn </a>

      <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
        <span class="icon-bar mra-white"></span>
        <span class="icon-bar mra-white"></span>
        <span class="icon-bar mra-white"></span>
      </button>

      <div class="collapse navbar-collapse navHeaderCollapse">

        <ul class="nav navbar-nav navbar-right">
          <li><a href="../index.html">HOME</a></li>
          <li><a href="portfolio.html">PORTFOLIO</a></li>
          <li><a href="resume.html">RESUME</a></li>
          <li class="active"><a href="#">CONTACT ME</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container page-container">
    <form data-toggle="validator" role="form" id='contact_form'>
      <p>
        If you'd like to get in touch, please send me a message. I'll do my best to respond within a day.
      </p>
      <br>
      <div class="alert alert-success fade in" id="send-success" style="display:none;">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> Thanks! Your message was sent successfully.
      </div>
      <div class="alert alert-danger fade in" id="send-failure" style="display:none;">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> Hmm... Something went wrong. Please try again later.
      </div>
      <div class="row">
        <div class="form-group col-md-4">
          <label for="name">Name:</label>
          <input pattern="[a-zA-Z ]+" type="text" class="form-control" id="name" placeholder="" data-error="Enter a valid name" required>
          <div class="help-block with-errors"></div>
        </div>
        <div class="form-group col-md-4">
          <label for="email">Email:</label>
          <input type="email" class="form-control" id="email" placeholder="" data-error="Enter a valid email address" required>
          <div class="help-block with-errors"></div>
        </div>
        <div class="form-group col-md-4">
          <label for="subject">Subject:</label>
          <input pattern="[a-zA-Z ]+" type="text" class="form-control" id="subject" placeholder="" data-error="Enter a valid subject" required>
          <div class="help-block with-errors"></div>
        </div>
        <div class="form-group col-md-12">
          <label for="message">Message:</label>
          <textarea class="form-control" rows="5" id="message" data-error="Enter a valid message" required></textarea>
          <div class="help-block with-errors"></div>
        </div>
      </div>
      <br>
      <button type="submit" class="btn btn-lg mra-primary-action">SEND MESSAGE</button>
    </form>
  </div>

</body>

</html>
