<!DOCTYPE html>
<html>

<head>
  <title> Matthew Alcorn | Portfolio </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="../css/site.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:300,300i" rel="stylesheet">

  <!-- Piwik -->
  <script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u = "//mattalcorn.com/piwik/";
      _paq.push(['setTrackerUrl', u + 'piwik.php']);
      _paq.push(['setSiteId', 1]);
      var d = document,
        g = d.createElement('script'),
        s = d.getElementsByTagName('script')[0];
      g.type = 'text/javascript';
      g.async = true;
      g.defer = true;
      g.src = u + 'piwik.js';
      s.parentNode.insertBefore(g, s);
    })();
  </script>
  <noscript>
    <p><img src="//mattalcorn.com/piwik/piwik.php?idsite=1" style="border:0;" alt="" /></p>
  </noscript>
  <!-- End Piwik Code -->

</head>

<body>

  <script src="../js/jquery-2.1.4.min.js"></script>
  <script src="../js/bootstrap.min.js"></script>

  <div class="navbar navbar-default navbar-static-top navbar-background">
    <div class="container">

      <a href="../index.html" class="navbar-brand"> Matthew Alcorn </a>

      <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
        <span class="icon-bar mra-white"></span>
        <span class="icon-bar mra-white"></span>
        <span class="icon-bar mra-white"></span>
      </button>

      <div class="collapse navbar-collapse navHeaderCollapse">

        <ul class="nav navbar-nav navbar-right">
          <li><a href="../index.html">HOME</a></li>
          <li class="active"><a href="#">PORTFOLIO</a></li>
          <li><a href="resume.html">RESUME</a></li>
          <li><a href="contactme.html">CONTACT ME</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    <h2>WORK</h2>
    <hr>
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail mra-portfolio-card">
          <a href="portfolio/lxcm.html" class="">
            <img src="../images/lxcm_thumbnail.png" alt="">
            <div class="caption">
              <h4 class="text-center">Lenovo XClarity Mobile</h4>
              <p>A new approach to mobile systems management</p>
            </div>
            </a>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail mra-portfolio-card">
          <a href="portfolio/lxca.html" class="">
            <img src="../images/lxca_thumbnail.png" alt="">
            <div class="caption">
              <h4 class="text-center">Lenovo XClarity Administrator</h4>
              <p>A comprehensive systems management application</p>
            </div>
            </a>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail mra-portfolio-card">
          <a href="portfolio/fsmmobile.html" class="">
            <img src="../images/fsm_thumbnail.png" alt="">
            <div class="caption">
              <h4 class="text-center">IBM FSM Mobile</h4>
              <p>The original server management app - reimagined for the future</p>
            </div>
            </a>
        </div>
      </div>
    </div>

    <h2>OTHER</h2>
    <hr>
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail mra-portfolio-card">
          <a href="portfolio/cordova-ssl.html" class="">
            <img src="../images/cordova_thumbnail.png" alt="">
            <div class="caption">
              <h4 class="text-center">Cordova & SSL Certificates</h4>
              <p>A post from my time at IBM on how to handle certs. when working with Cordova</p>
            </div>
            </a>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail mra-portfolio-card">
          <a href="portfolio/guidelines.html" class="">
            <img src="../images/guidelines_thumbnail.png" alt="">
            <div class="caption">
              <h4 class="text-center">Design Guidelines</h4>
              <p>A culmination of my design fundamentals, ideologies, and processes</p>
            </div>
            </a>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail mra-portfolio-card">
          <a href="portfolio/bronto.html" class="">
            <img src="../images/bronto_thumbnail.png" alt="">
            <div class="caption">
              <h4 class="text-center">Bronto Designs</h4>
              <p>Concepts and ideas for a project management dashboard</p>
            </div>
            </a>
        </div>
      </div>
    </div>
  </div>

</body>

</html>
