<!DOCTYPE html>
<html>

<head>
  <title> Matthew Alcorn | Resume </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="../css/site.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Merriweather+Sans:400,300,300italic,400italic' rel='stylesheet' type='text/css'>

  <!-- Piwik -->
  <script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u = "//mattalcorn.com/piwik/";
      _paq.push(['setTrackerUrl', u + 'piwik.php']);
      _paq.push(['setSiteId', 1]);
      var d = document,
        g = d.createElement('script'),
        s = d.getElementsByTagName('script')[0];
      g.type = 'text/javascript';
      g.async = true;
      g.defer = true;
      g.src = u + 'piwik.js';
      s.parentNode.insertBefore(g, s);
    })();
  </script>
  <noscript>
    <p><img src="//mattalcorn.com/piwik/piwik.php?idsite=1" style="border:0;" alt="" /></p>
  </noscript>
  <!-- End Piwik Code -->

</head>

<body>

  <script src="../js/jquery-2.1.4.min.js"></script>
  <script src="../js/bootstrap.min.js"></script>

  <div class="navbar navbar-default navbar-static-top navbar-background">
    <div class="container">

      <a href="../index.html" class="navbar-brand"> Matthew Alcorn </a>

      <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
        <span class="icon-bar mra-white"></span>
        <span class="icon-bar mra-white"></span>
        <span class="icon-bar mra-white"></span>
      </button>

      <div class="collapse navbar-collapse navHeaderCollapse">

        <ul class="nav navbar-nav navbar-right">
          <li><a href="../index.html">HOME</a></li>
          <li><a href="portfolio.html">PORTFOLIO</a></li>
          <li class="active"><a href="#">RESUME</a></li>
          <li><a href="contactme.html">CONTACT ME</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container page-container">
    <div class="row text-center">
      <a target="_blank" href="../files/alcorn_resume.pdf" class="btn btn-lg mra-primary-action" role="button">DOWNLOAD .PDF VERSION (41KB)</a>
    </div>
    <br>
    <hr>
    <div class="row">
      <h3> EXPERIENCE </h3>
      <h5 class="resume"><b>Lead Software Engineer, Lenovo XClarity Mobile</b></h5>
      <h5 class="resume"><b>Lenovo, June '15 - Present</b></h5>
      <ul>
        <li>Led a newly formed team to successfully deliver a systems mgmt. app for iOS/Android</li>
        <li>Developed features utilizing the Ionic and AngularJS frameworks and RESTful interfaces</li>
        <li>Designed the UI and UX for the entire app</li>
        <li>Gathered feedback from customers and beta testers to iterate on designs and features</li>
        <li>Architected the continuous integration build system with Jenkins</li>
        <li>Maintained and shipped multiple versions of the app on the Apple App Store and
Google Play</li>
      </ul>
    </div>
    <div class="row">
      <h5 class="resume"><b>Lead UI/UX Designer, Lenovo XClarity Administrator</b></h5>
      <h5 class="resume"><b>Lenovo, October '14 - June '15</b></h5>
      <ul>
        <li>Utilized prototyping tools such as Axure RP and CSS to build high fidelity interactive mockups and wireframes</li>
        <li>Interacted with customers and turned feedback into tangible product enhancements</li>
        <li>Created a set of design guidelines to encourage consistent interactions and behaviors across the different components of the product</li>
      </ul>
    </div>
    <div class="row">
      <h5 class="resume"><b>Software Engineer, FSM Mobile</b></h5>
      <h5 class="resume"><b>IBM, March '11 - October '14</b></h5>
      <ul>
        <li>Developed features with Javascript, HTML, and CSS using the dojo framework</li>
        <li>Wrote Cordova plugins in Java for accessing Android OS level functions and hardware, and handled Google Play submissions</li>
        <li>Contributed knowledge on handling SSL certificates in Cordova back to the community</li>
      </ul>
    </div>
    <div class="row">
      <h5 class="resume"> <b>Software Engr. Intern </b></h5>
      <h5 class="resume"> <b>Lockheed Martin, May '10 - March '11 </b></h5>
      <ul>
        <li>Used C++, Python, and MATLAB and gained experience with image processing algorithms</li>
      </ul>
    </div>
    <br>
    <div class="row">
      <h3> TECHNICAL SKILLS</h3>
      <p>
        <div class="row">
          <div class="col-sm-2"><b>Programming:</b></div>
          <div class="col-sm-10">JavaScript, AngularJS, Ionic, Bootstrap, HTML, CSS, Sass, Cordova, Android SDK, Crosswalk, RESTful interfaces</div>
        </div>
      </p>
      <p>
        <div class="row">
          <div class="col-sm-2"><b>Tools:</b></div>
          <div class="col-sm-10">Jenkins, Git, Gulp, Bower, NPM, Angular CLI</div>
        </div>
      </p>
      <div class="row">
        <div class="col-sm-2"><b>Design:</b></div>
        <div class="col-sm-10">Axure RP, UI/UX Design, Photoshop</div>
      </div>
    </div>
    <br>
    <div class="row">
      <h3>EDUCATION</h3>
      <h5 class="resume"> <b>Virginia Tech</b></h5>
      <h5 class="resume"> <b>Bachelor of Science in Computer Engineering</b></h5>
      <h5 class="resume"> <b>Minor in Mathematics</b></h5>
      <ul>
        <li>Dean's List: Fall 2007, Fall 2009, Spring 2010, Fall 2010</li>
      </ul>
    </div>
    <br>
    <div class="row">
      <h3>PATENTS</h3>
        <h5><b>DISPLAYING INDICATOR WHEN DATA OF CELL THAT IS NOT VISIBLE CHANGES</b></h5>
        <ul><li>Published February 23, 2017</li></ul>
        <h5><b>COMMUNICATION PATHS HIERARCHY FOR MANAGED COMPUTING DEVICE</b></h5>
        <ul><li>Filed May 24, 2016</li></ul>
        <h5><b>ACQUISITION OF INFORMATION FROM MANAGED COMPUTING DEVICE NOT COMMUNICATIVELY CONNECTED TO MANAGEMENT COMPUTING DEVICE</b></h5>
        <ul><li>Filed June 4, 2016</li></ul>
        <h5><b>USING A HISTORICAL RECORD OF ACTIONS TAKEN BY A GROUP OF USERS TO IDENTIFY RESPONSIVE ACTIONS IN A COMPUTING SYSTEM</b></h5>
        <ul><li>Filed December 8, 2016</li></ul>
        <h5><b>REMOTE COMPUTING SYSTEM EVENT RESOLUTION</b></h5>
        <ul><li>Filed January 13, 2017</li></ul>
        <h5><b>IDENTIFYING A TARGET AREA TO DISPLAY A POPUP GRAPHICAL ELEMENT</b></h5>
        <ul><li>Filed March 30, 2017</li></ul>
    </div>
  </div>

</body>

</html>
