<!DOCTYPE html>
<html>

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119969569-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-119969569-1');
  </script>


  <title> Matthew Alcorn | Lenovo XClarity Mobile </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="../../css/site.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:300,300i" rel="stylesheet">
</head>

<body>

  <script src="../../js/jquery-2.1.4.min.js"></script>
  <script src="../../js/bootstrap.min.js"></script>

  <div class="navbar navbar-default navbar-static-top navbar-background">
    <div class="container">

      <a href="../../index.html" class="navbar-brand"> Matthew Alcorn </a>

      <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
        <span class="icon-bar mra-white"></span>
        <span class="icon-bar mra-white"></span>
        <span class="icon-bar mra-white"></span>
      </button>

      <div class="collapse navbar-collapse navHeaderCollapse">

        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="../../index.html">HOME</a>
          </li>
          <li class="active">
            <a href="../portfolio.html">PORTFOLIO</a>
          </li>
          <li>
            <a href="../resume.html">RESUME</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container page-container">

    <h1 class="text-center">Lenovo XClarity Mobile</h1>

    <div class="row">
      <h3> OVERVIEW </h3>
      <div class="col-md-12">
        <p>Lenovo XClarity Mobile is a new way for systems administrators to manage their hardware environments with their mobile
          devices. With fresh and innovative ideas, new technologies, and a clear design, we were able to provide an application
          that provides remote mobile management capabilities to users. This project is built on the Ionic Framework, Cordova,
          and Crosswalk. These technologies enable to the team to deliver a great experience and a reliable systems management
          solution.</p>
      </div>
    </div>

    <div class="row">
      <h3> MY ROLE </h3>
      <div class="col-md-12">
        <p>
          As the Lead Software Engineer on this team, my responsibilities included:
        </p>
        <ul>
          <li>Writing JavaScript code with the AngularJS and Ionic frameworks</li>
          <li>Adding custom CSS to style the product</li>
          <li>Creating template views with HTML and AngularJS directives</li>
          <li>Designing the entire User Interface and User Experience</li>
          <li>Architecting and maintaining our CI Jenkins build system</li>
          <li>Owning the product configuration (versioning and dependencies)</li>
          <li>Performing code reviews to ensure delivery of high quality code</li>
          <li>Working with the product architect to set a vision for the product</li>
          <li>Presenting progress at monthly meetings with executives</li>
          <li>Maintaining the app on the Apple App Store and Google Play Store</li>
          <li>Mentoring and encouraging fellow team members</li>
        </ul>
      </div>
    </div>

    <br>

    <div class="row">
      <h3> NEWSFEED </h3>
      <div class="col-sm-12 col-md-4">
        <p>
          The Newsfeed is a new innovation in mobile systems management. We surface alerts and bring issues directly to the user. This
          enables them act quickly and make more informed decisions about the actions that need to be taken in their environment.
        </p>
      </div>
      <div class="col-sm-6 col-md-4">
        <img height="552" width="322" src="../../images/lxcm/ios_newsfeed.png" alt="" />
      </div>
      <div class="col-sm-6 col-md-4">
        <img height="552" width="322" src="../../images/lxcm/android_newsfeed.png" alt="" />
      </div>
    </div>
    <br>
    <div class="row">
      <h3> HARDWARE </h3>
      <div class="col-sm-12 col-md-4">
        <p>
          The Hardware view is a comprehensive view of all the hardware in a user's environment. We quickly summarize all the types
          of hardware and give an inventory and health overview of this hardware. From here, users can proceed further to
          determine more about their hardware health and inventory details.</p>
      </div>
      <div class="col-sm-6 col-md-4">
        <img height="552" width="322" src="../../images/lxcm/ios_hardware.png" alt="" />
      </div>
      <div class="col-sm-6 col-md-4">
        <img height="552" width="322" src="../../images/lxcm/android_hardware.png" alt="" />
      </div>
    </div>
    <br>
    <div class="row">
      <h3> MONITORING </h3>
      <div class="col-sm-12 col-md-4">
        <p>
          The Monitoring view allows the user to see all the events, alerts and jobs that are present in an environment. From here,
          they can get more details on these items and even share these details with others directly from the app.
        </p>
      </div>
      <div class="col-sm-6 col-md-4">
        <img height="552" width="322" src="../../images/lxcm/ios_monitoring.png" alt="" />
      </div>
      <div class="col-sm-6 col-md-4">
        <img height="552" width="322" src="../../images/lxcm/android_monitoring.png" alt="" />
      </div>
    </div>
    <br>
    <div class="row">
      <h3> CHASSIS MAP </h3>
      <div class="col-sm-12 col-md-4">
        <p>
          The Chassis Map is a recent addition to the mobile app. It represents a detailed and precise representation of a hardware
          environment - right down to the active LEDs on the hardware itself. The Chassis Map is interactive with zoom and
          click-to-drill down functionality allowing the user to get more details and navigate straight to a device of interest.
        </p>
      </div>
      <div class="col-sm-6 col-md-4">
        <img height="552" width="322" src="../../images/lxcm/ios_chassis.png" alt="" />
      </div>
      <div class="col-sm-6 col-md-4">
        <img height="552" width="322" src="../../images/lxcm/android_chassis.png" alt="" />
      </div>
    </div>
    <br>
    <div class="row">
      <h3> RACK MAP </h3>
      <div class="col-sm-12 col-md-4">
        <p>
          The Rack Map is also a new addition to the mobile app - similar in function to the Chassis Map. The hierarchy of a Rack is
          different from that of a Chassis. Racks can act as the "parent" of a Chassis as well contain rack servers, switches,
          and storage devices. The height constraints of a Rack, when shown on a mobile device, presented a unique challenge
          - we added a performant and fun up/down control on the righthand side. This allowed for easy navigation and did
          not interfere with our zoom or click functionality.
        </p>
      </div>
      <div class="col-sm-6 col-md-4">
        <img height="552" width="322" src="../../images/lxcm/ios_rack.png" alt="" />
      </div>
      <div class="col-sm-6 col-md-4">
        <img height="552" width="322" src="../../images/lxcm/android_rack.png" alt="" />
      </div>
    </div>
    <br>
    <div class="row">
      <h3> ACTIONS </h3>
      <div class="col-sm-12 col-md-4">
        <p>
          The Actions list is an ever expanding set of actions we allow the user to take directly from the mobile app. We provide incredible
          value and flexibility to the user by allowing them to take actions on their hardware from their mobile device.
          Actions are a key part of the mobile application and they allow the user to solve problems from anywhere where
          they have an internet connection.
        </p>
      </div>
      <div class="col-sm-6 col-md-4">
        <img height="552" width="322" src="../../images/lxcm/ios_power.png" alt="" />
      </div>
      <div class="col-sm-6 col-md-4">
        <img height="552" width="322" src="../../images/lxcm/android_power.png" alt="" />
      </div>
    </div>
    <br>
    <div class="row">
      <h3> COMPONENT LIST </h3>
      <div class="col-sm-12 col-md-4">
        <p>
          The Component List gives the user a detailed breakdown (sorted by type and severity) of the hardware within a selected chassis
          or rack. From this components page, the user can select to view more details about a particular piece of hardware
          and even perform actions on them.
        </p>
      </div>
      <div class="col-sm-6 col-md-4">
        <img height="552" width="322" src="../../images/lxcm/ios_list.png" alt="" />
      </div>
      <div class="col-sm-6 col-md-4">
        <img height="552" width="322" src="../../images/lxcm/android_list.png" alt="" />
      </div>
    </div>
  </div>
</body>

</html>