<!DOCTYPE html>
<html>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119969569-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-119969569-1');
    </script>


    <title> Matthew Alcorn | VX Installer </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="../../css/site.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:300,300i" rel="stylesheet">
    <link href="../../../libs/font-awesome-4.6.3/css/font-awesome.min.css" rel="stylesheet">

</head>

<body>

    <script src="../js/jquery-2.1.4.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>

    <div class="navbar navbar-default navbar-static-top navbar-background">
        <div class="container">

            <a href="../../index.html" class="navbar-brand"> Matthew Alcorn </a>

            <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                <span class="icon-bar mra-white"></span>
                <span class="icon-bar mra-white"></span>
                <span class="icon-bar mra-white"></span>
            </button>

            <div class="collapse navbar-collapse navHeaderCollapse">

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="../../index.html">HOME</a>
                    </li>
                    <li class="active">
                        <a href="../portfolio.html">PORTFOLIO</a>
                    </li>
                    <li>
                        <a target="_blank" href="../../files/alcorn_resume.pdf">RESUME
                            <i class="fa fa-external-link mra-resume-link-icon" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container page-container">

        <h1 class="text-center">VX Installer</h1>

        <div class="row">
            <h3> OVERVIEW </h3>
            <div class="col-md-12">
                <p>
                    VX Installer was an appliance built to make deploying virtual environments easier. What usually took
                    hours for new hardware deployments was reduced to just a few minutes by collecting all the necessary
                    information upfront and running several automations behind the scenes. Once the user entered the
                    necessasry info, they were free to step away for the remainder of the deployment.
                </p>
            </div>
        </div>

        <div class="row">
            <h3> MY ROLE </h3>
            <div class="col-md-12">
                <p>
                    I led a small team of engineers as the lead frontend developer and acted as the UX designer for this
                    project. I moved on to another job at SAS Institute before this product was officially released but
                    we were close to release with only a few sprints remaining when I departed.</p>
            </div>
        </div>

        <br>

        <div class="row">
            <h3> WIREFRAMES & USER FLOWS </h3>
            <div class="col-md-12">
                <p>These are a few selected wireframes from our user flows to show some insight into the design process
                    and options we were considering. </p>
            </div>
            <div class="col-md-12">
                <img class="img-responsive img-shadow" src="../../images/vx/wireframes/licenses.png" alt="" />
                <p class="text-center hint-text">License key entry for your vCenter and vSan with validation feedback
                </p>
                <img class="img-responsive img-shadow" src="../../images/vx/wireframes/hardware1.png" alt="" />
                <p class="text-center hint-text">Discovered network hardware and connection status
                </p>
                <img class="img-responsive img-shadow" src="../../images/vx/wireframes/hardware2.png" alt="" />
                <p class="text-center hint-text">Selected devices tray
                </p>
                <img class="img-responsive img-shadow" src="../../images/vx/wireframes/vcenter.png" alt="" />
                <p class="text-center hint-text">vCenter configuration options
                </p>
                <img class="img-responsive img-shadow" src="../../images/vx/wireframes/review.png" alt="" />
                <p class="text-center hint-text">Review and validation
                </p>
                <img class="img-responsive img-shadow" src="../../images/vx/wireframes/configure1.png" alt="" />
                <p class="text-center hint-text">Phase 1 of the configuring screen
                </p>
                <img class="img-responsive img-shadow" src="../../images/vx/wireframes/configure2.png" alt="" />
                <p class="text-center hint-text">Phase 2 (post GA) of the configuration screen to give more detailed
                    information on the overall process
                </p>
                <img class="img-responsive img-shadow" src="../../images/vx/wireframes/complete.png" alt="" />
                <p class="text-center hint-text">Completed deploy
                </p>


            </div>
        </div>

        <br>

        <div class="row">
            <h3> PRODUCT IMAGES </h3>
            <div class="col-md-12">
                <p>These are some selected screenshots from the product as it was nearing release.</p>
            </div>
            <div class="col-md-12">
                <img class="img-responsive img-shadow" src="../../images/vx/product/license.png" alt="" />
                <p class="text-center hint-text">License
                </p>
                <img class="img-responsive img-shadow" src="../../images/vx/product/hardware.png" alt="" />
                <p class="text-center hint-text">Hardware
                </p>
                <img class="img-responsive img-shadow" src="../../images/vx/product/hosts.png" alt="" />
                <p class="text-center hint-text">Hosts
                </p>
                <img class="img-responsive img-shadow" src="../../images/vx/product/vCenter.png" alt="" />
                <p class="text-center hint-text">vCenter
                </p>
                <img class="img-responsive img-shadow" src="../../images/vx/product/review.png" alt="" />
                <p class="text-center hint-text">Review
                </p>
                <img class="img-responsive img-shadow" src="../../images/vx/product/status.png" alt="" />
                <p class="text-center hint-text">Status
                </p>
            </div>
        </div>


</body>

</html>